# Python
__pycache__/
*.pyc

# Conda
.env
.venv
*.conda

# Model weights
*.pt
*.pth
*.bin
*.ckpt
*.safetensors

# Dataset
data/*
!data/.gitkeep

datasets/*
!datasets/.gitkeep

# Logs
logs/
wandb/

# OS
.DS_Store
